.app.dark {
    --bg-color:#0e0e75;
    --inverted-bg-color:#cecece;

    --primary-color: rgb(0, 94, 0);
    --secondary-color: rgb(0, 182, 0);

    --inverted-primary-color: rgb(0, 28, 112);
    --inverted-secondary-color: rgb(0, 54, 191);
}