.app.light {
    --bg-color:#cecece;
    --inverted-bg-color:#0e0e75; 

    --primary-color: rgb(0, 28, 112);
    --secondary-color: rgb(0, 54, 191);

    --inverted-primary-color: rgb(0, 94, 0);
    --inverted-secondary-color: rgb(0, 182, 0);
}